@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --font:'Rubik', sans-serif;
    --primary:#717CFF;
    --lightorange:#FF5959;
    --lightgreen:#70CE88;
    --lightblue:#5C96FF;
    --lightred:#FA706C;
}

*{
    font-family: var(--font);
    outline: none !important;
}
.scroll-check{
    padding-top: 40px;
}
html{
    scroll-behavior: smooth;
}
.bg-lightorange{
    background-color: var(--lightorange);
}
.bg-lightgreen{
    background-color: var(--lightgreen);
}
.bg-lightblue{
    background-color: var(--lightblue);
}
.bg-lightred{
    background-color: var(--lightred);
}
.fb-color{
    color: #4078c0;
}
.twitter-color{
    color: #00a4e4;
}
.instagram-color{
    color: #f85a40;
}
.navbar-brand img{
    width: 110px;
}
.nav-custom{
    margin: 0 20px;
    position: relative;
}
.nav-custom span.active{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 3px;
    background-color: var(--primary);
}
.main-content{
    position: relative;
    min-height: 100vh;
}

.bg-img{
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position: right bottom;
    animation: bgGrow 1.3s;
}
@keyframes bgGrow {
    from {transform: translate(140px);}
    to {transform: translate(0px);}
  }
.ico-link{
    margin-top: 120px;
    margin-bottom:40px;
}
.ico-link i{
    padding: 0px 7px;
    font-size: 30px;
}

.uni-box h5{
    letter-spacing: 5px;

}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
    border: 2px solid #717CFF;
    border-radius: 50%;
}
.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color: #717CFF !important;
}

.service-box{
    width: 70px;
    height: 70px;
}
.service-box i{
    font-size: 35px;
    color: white;
}

.news-card{
    overflow: hidden;
}
.news-img{
    object-fit: cover;
}
.date-box{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #e6e9ff;
}

footer ul{
    list-style-type:none;
}
footer ul li{
    padding: 10px 0;
}
footer i{
    padding: 0px 7px;
    font-size: 20px;
}
.site-nav{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    backdrop-filter: blur(20px);
    background: #ffffff91 !important;
}
.site-nav.active{
    box-shadow: 0 0 5px rgb(155 141 141);
}
.site-nav.scroll-active{
    position: fixed;
    box-shadow: 0 0 5px rgb(155 141 141);
    animation: slideDown .5s;
}

.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay: 1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}
.ani-delay-01{
    animation-delay: 0.3s;
}
.ani-delay-02{
    animation-delay: 0.6s;
}
.ani-delay-03{
    animation-delay: 1.2s;
}
.ani-delay-04{
    animation-delay: 1.5s;
}
.ani-delay-05{
    animation-delay: 1.8s;
}
.ani-delay-06{
    animation-delay: 2s;
}
.btn-animate:hover{
    transition: .5s;
    transform:translateX(20px);
}
.card-animate:hover{
    transition: .5s;
    transform: translateY(-15px) scale(1.02);
}

@keyframes slideDown {
    from {transform: translateY(-40px);}
    to {transform: translateY(0px);}
  }
@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 992px){
    .bg-img{
        background-size: 300px auto;
    }
    .img-girl{
        width: 300px;
    }
}

@media screen and (max-width: 768px){
    .m-c-title{
        font-size: 40px;
    }
    .bg-img{
        background-size: 220px auto;
    }
    
    .img-girl{
        width: 200px;
        position: absolute;
        z-index: 5;
        right: 0;
        bottom: 0;
    }
    .btn{
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    }
}

@media screen and (max-width: 576px){
    .bg-img{
        background-size: 170px auto;
    }
    
    .img-girl{
        width: 150px;
    }
    .ico-link i{
        padding: 0px 4px;
        font-size: 20px;
    }
   
}
